.social-links {
    display: flex;
    justify-content: center; /* Center the links */
    gap: 10px; /* Space between links */
  }
  
  .social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust size */
    height: 50px;
    border-radius: 50%; /* Circular shape */
    color: #fff;
    font-size: 1.2rem;
  }
  
  /* Individual button styles can be defined here or in the Navbar.css */
  .btn-primary {
    background-color: #0e76a8; /* LinkedIn blue */
  }
  
  .btn-dark {
    background-color: #333; /* GitHub black */
  }
  
  .btn-info {
    background-color: #17a2b8; /* Email info color */
  }
  
  .btn-danger {
    background-color: #e83e8c; /* Instagram color */
  }
  